
.header{
    background: url('/header_img.png') no-repeat;
    margin: 20px auto;
    height: 34vw;
    background-size: contain;
    position: relative;
}

.header-contents{

    position: absolute;
    display: flex;
    flex-direction: column;
    gap:1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    align-items: start;
    animation: fadeIn 3s;
}


.header-contents h2{
    font-weight: 500;
    font-size: max(4.5vw, 22px);
    color: white;
}


.header-contents p{
    font-size: 1vw;
    color: white;
}

.header-contents button{

    font-weight: 500;
    font-size: max(1vw, 13px);
    padding: 1vw 2.3vw;
    columns: #747474;
    border: none;
    border-radius: 50px;
    background-color: white;
}



@media (max-width:750px){
 
    .header{
        height: 35vw;
    }
    .header-contents {
    max-width: 60%;
   }   

   .header-contents p{
    display: none;
   }   
}